.ABout_page_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.ABout_page_content p{
    font-family: "Signika Negative", sans-serif;
    font-size: 1.2rem;
    flex: 1 0 20rem;
    line-height: 1.5rem;
    text-align: justify;
}
#Details_column{
    display: flex;
     flex: 1 0 20rem;
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#Details_column div img{
    height: 80px;
    width: 80px;
}
