@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&display=swap');
:root{
  --color:black;
  --background:white;
  --invert:invert(0%);
  --secondary-color:rgb(85, 85, 85);
  --gradient:linear-gradient(135deg, #F29A3A, #EB4A4A) ;
}
.Modes{
  --color:white;
  --background:black;
  --invert:invert(100%);
  --secondary-color:rgb(201 193 193);
  --gradient:black;
}
*{
  margin: 0;
  padding: 0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #eb0066 transparent;
  }

  /* Chrome, Edge, and Safari
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid transparent;
  } */
body{
  color: var(--color);
}
a,
.btn {
  transition: all 300ms ease;
}
main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--background);
  position: relative;
}
 
#tsparticles{
  position: absolute;
  height: auto;
  width: 100%; 
  z-index: -1;
  top: 0;
}
.hambar{
  width: 100vw;
  height: 100%;
  position: fixed;
  transition: 0.3s ease-in;
  transform: translateX(95%);
  z-index: 7;
  margin-top: 100px;
}
#Acheivement{
  width: 100vw;
  height: 100%;
  position: fixed;
  transition: 0.3s ease-in;
  transform: translateX(200%);
  z-index: 6;
  display: flex;
  justify-content: flex-end; 
}
.acheive #Acheivement{transform: translateX(0%);}
.acheive #acheive{box-shadow: 0 2px 12px 100rem rgb(0, 0, 0, 0.4);}
.acheive .hambar{display: flex;justify-content: flex-end;align-items: center;transform: translateX(-90%);}
@media (max-width:1000px) {
  .hambar{ width: 100vw;} 
}
@media (max-width:870px) {
  .hambar{transform: translateX(94%);} 
}
@media (max-width:740px) {
  .hambar{transform: translateX(86%);} 
}
#menu{
  width: 3rem;
  height: 3rem;
  background-color:#591DAA ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto; 
  top: 0;
  bottom: 0;
  border-radius: 50%;
  border: none; 
  cursor: pointer;
} 
#menu .menu{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 4px;
 transition: 0.3s ease-in;
 width: 40%; 
 border-radius: 10px;
 background: transparent;
}
#menu .menu::before,#menu .menu::after{background: white;}
.Modes #menu .menu::before,.Modes #menu .menu::after{background: black;}
#menu .menu::before,#menu .menu::after{
  content: "";
  height: 100%;
  width: 100%; 
  position: absolute;
  border-radius: 10px;
 transition: 0.3s ease-in;
}

#menu .menu::before{top: -5px;rotate: -32deg;}
#menu .menu::after{top: 5px;rotate: 32deg;}
.hambar.active #menu .menu::before{rotate: 32deg;}
.hambar.active #menu .menu::after{rotate: -32deg;}
main nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 1rem 2rem 1rem 0;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 5;
  gap:1rem;
}
.MENU{
  display: none;
}
nav h1{
  font-weight: 600;
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
}
nav h1 span{
  font-family: "Signika Negative", sans-serif;
  font-weight: 400;
}
h2{
  font-family: "Reddit Mono", monospace;
  font-size: 1.3rem;
}
nav .nav{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.nav a{
  text-decoration: none;
  color: var(--color);
  font-size: 1.5rem;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav .mode{
  display: flex;
  justify-content: center;
  align-items: center ;
  background: url("https://cdn-icons-png.flaticon.com/128/6889/6889926.png");
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  filter: var(--invert);
  margin-right: 10px;
  cursor: pointer;
}
nav .lightMode{
  rotate: 0deg;
}
body canvas{
  position: absolute !important;
  height: 100vh !important;
  overflow: hidden !important;
  background:var(--gradient) !important ;
} 
nav .darkMode{
  rotate: 180deg;
}
#home,#about,#skill,#project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#home{
  position: relative;
    z-index: 1;
    height: auto;
}
#contact{
  margin-top: 100px;
}
p,#contact a{
  font-family: "Signika Negative", sans-serif;
}
h1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
#project,#skill,#about{
  display: grid;
  place-items:center ;
  padding-top: 100px;
  gap: 1rem;
}
#about,#skill,#contact{
  flex-direction: column;
}
.ContactUs_container_section,#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  
}
#profile_image{
  flex:1 0 30rem;
  margin-top: 40px;
}
#profile_detail{
  flex:1 1 20rem;
}
#profile_image,#profile_detail,#About_page_image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#profile_image::after{
  content: "";
  position: absolute;
  background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
  height: 365px;
  width: 365px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: 1;
  top: 2px;
  animation: animateBG 10s linear infinite;
}
@keyframes animateBG {
  0%{
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
  }
  25%{
    border-radius:39% 61% 58% 42% / 39% 42% 58% 61%   ;
  }
  50%{
    border-radius:28% 72% 42% 58% / 39% 49% 51% 61% ;
  }
  75%{
    border-radius: 39% 61% 58% 42% / 39% 42% 58% 61%  ;
  }
  100%{
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
  }
}
#profile_detail{
justify-content: center;
}
#profile_detail .details{
  min-width: 300px;
  width: 90%;
  max-width: 500px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profile_detail .details #text_change_container{min-height: 2.2rem;max-height: 5rem;}
#profile_detail .details h3{text-align: center;position: relative;}
#profile_detail .details h3::after{content: "";height: 2rem;width: 0.2rem;position: absolute;background-color: var(--background);animation: blinked 0.2s linear infinite;}
@keyframes blinked {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
.darkMode #profile_detail .details h1,#About_knowmore,#contact p,#skill p,#project p{
  font-size: 1.2rem;
  color: var(--secondary-color);
}
#profile_detail .details h1{font-size: 1.2rem;color: white;}
article div p{
  text-align: left;
}
#profile_detail .details h2{
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background: linear-gradient(2deg, #ff0000, #0003ff);
    background-clip: text;
    color: transparent;
}
#profile_detail .details h3{
  font-size: 1.6rem;
  color: white;
  font-family: "Reddit Mono", monospace; 
}
body.Modes #profile_detail .details h3,body.Modes #profile_detail .details h1{
  color: var(--secondary-color) !important;
}
#profile_image img{
  height: 300px;
  width: 300px;
  border-radius: 30%;
  z-index: 2;
}
.profile_buttons{
  display: flex;
  padding: 10px;
  gap: 1rem;
}
.profile_buttons img{
  height: 40px;
  width: 40px;
  filter: var(--invert);
}
#frontend_mentor{
  filter: invert(0);
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0px 5px var(--color);
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.contactbtn,
.downloadbtn {
  border: rgb(163, 163, 163) 0.1rem solid;
}

.contactbtn:hover{
  cursor: pointer;
  color: var(--color);
  background-color: var(--background);
}
.downloadbtn:hover {
  cursor: pointer;
}

.contactbtn{
  color: var(--background);
  background-color: var(--color);
}
.downloadbtn:hover {
  background: var(--color);
  color: var(--background);
}
.downloadbtn {
  color: var(--color);
  background: transparent ;
  border: 1px solid ;
}
.darkMode .downloadbtn {
  color: var(--color);
  background: var(--background);
}

.downloadbtn:hover {
  border: var(--background) 0.1rem solid;
  background: var(--color);
  color: var(--background);
}
.skill{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
article{
  display: flex;
  width: 12rem;
  justify-content: flex-start;
  gap: 0.9rem;
}
article img{
 width: 35px;
 height: 35px;
 filter: var(--invert);
}
#Frontend,#backend{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 350px;
  padding:1rem;
  border:2px  solid rgb(163, 163, 163);
  border-radius: 15px;
  flex-direction: column;
  margin: 10px;
}
#content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  min-height: 422px;
}
.heading h1{
  text-align: center;
}
#images{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 408px;
}
#images #img{
  height: 300px;
  width: 250px;
  object-fit: contain;
}
.project1 #images #img,.project4 #images #img,.project6 #images #img{
  height: 408px;
}
#PROJECT{
  padding: 10px;
  border:0.1rem solid rgb(163, 163, 163);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
#PROJECT p{
  font-family: "Signika Negative", sans-serif;
  text-align: justify;
  font-size: 1.1rem;
  padding: 7px;
}
#PROJECT h1{
  text-align: center;
  font-size: 1.4rem;
}
#PROJECT h2{
  font-size: 1.2rem;
}
#project_languages{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
#project_languages p{
  color: var(--color);
  font-weight: 600;
  font-size: 1rem;
  flex: 1 0 8rem;
  text-align: left;
}
span{
  font-weight: 600;
  color: var(--color);
}
.project{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
    align-items: center;
}
#project_buttons{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.image img{
  height: 80px;
  width: 60px;
  object-fit: contain;
  padding: 3px;
}
.select{
  border: 1px solid ;
  border-radius: 12px;
}
#contact_details{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  border: 0.1rem solid rgb(163, 163, 163);
  border-radius:15px ;
  gap: 2rem;
}
#contact_details a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--color);
  font-size: 1.5rem;
  gap: 10px;
}
#contact_details a img{
  height: 50px;
  width: 50px;
  filter: var(--invert);
}
footer .nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem ;
}
#contact section{
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  display: flex;
  border-radius: 0.6rem;
  box-shadow: 0 1px 10px rgb(0, 0, 0, 0.4);
  margin-top: 2rem;
}
#contact section form,#contact section div{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:3rem 1rem 1rem;
  flex-direction: column;
}
#contact section div{
  background:#4B4F97;
  border-radius:0.6rem 0 0 0.6rem;
}
#contact section form input,#contact section form textarea{
  width: 98%;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color);
  background: var(--background);
  color: var(--color);
  font-family: monospace;
}
#contact section form button{
  width: 98%;
  padding: 1rem 2rem;
  background-color: var(--color);
  border: 1px solid var(--color); 
  color: var(--background);
  font-size: 1rem;
  font-family: 'Reddit Mono', sans-serif;
  border-radius: 0.6rem;
  font-weight: 600;
}
#contact section form textarea{
  border: none;
  border-bottom: 1px solid var(--color);
  border-radius: 0px;
}
#contact #Contact_content{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: transparent;
}
#contact #Contact_content a,#contact #Contact_content p{
  text-decoration: none;
  color: white;
}
#contact #Contact_content img{
  height: 2rem;
  object-fit: contain;
}
#contact section img{
  filter: invert(1);
}
.Modes #contact section form{border: 1px solid white;border-left: none;border-radius:0 0.6rem 0.6rem 0;} 
#contact section div{align-items: flex-start;}
#contact section div #USER_LOGO{margin: auto;height: 5rem;object-fit: contain;} 
@media (max-width:450px){
  #PROJECT{
    width: 80%;
    display: flex;
  }
  #contact{
    padding-top: 100px;
    margin-top: 0px;
  }
  #contact_details{
    width: 80%;
    padding: 15px;
  }
  #contact_details a{
    font-size: 1rem;
  }
  #PROJECT h1,p{
    text-align: center;
  }
   #images{
    display: flex;
    flex-direction:column;
   }
   .image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
   }
   footer .nav{
    padding: 15px;
    flex-direction: column;
    gap: 2rem;
   }
}
@media (min-width:450px){
  #images .image{
    display: flex;
    flex-direction: column;
  }
  #PROJECT{
    width: 340px;
  }
}
@media (min-width:1200px) {
  #contact{
    min-height: 100%;
  }
  #profile_detail{
    justify-content: flex-start;
  }
  #profile_image{
    margin-top: 0px;
    justify-content: flex-end;
  }
}
@media (max-width:610px) {
  .skill{
    flex-direction: column;
  }
  #content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:865px){
  #profile_detail{
    justify-content: center;
  }
  #profile_image{
    justify-content: center;
  }

} 
@media (min-width:1200px){
  #home{
    min-height: 100vh;
    gap: 4rem;
  }
  #profile_image img{position: relative;right: 2rem;}
}
@media (max-width:1200px) {
  #home{
    flex-direction: column;
  }
  #profile_image::after{
    top:5rem;
  }
  footer .nav{
    flex-direction: column;
    padding: 1rem;
  }
  nav h1{font-size: 2rem;}
}
@media (min-width:1040px){
 #skill{
  display: flex;
  min-height: 80vh;
 }

  #content{
   display: grid;
   grid-template-columns: 0.5fr 0.5fr;
   min-height: 0px;
  }
  
  #Frontend,#backend{
        min-height: 317px;
  }
}
@media (min-width:650px) {
  main nav .nav{
    width: 50%;
  }
}
@media (max-width:1200px){
  nav{
    justify-content: center;
  }
  nav h1{
    width: 80%;
    text-align: center;
  }
  .mode{
    position: relative;
    z-index: 7;
  }
  .MENU{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 2px;
    width: 30px;
    margin-right: 1rem;
    background-color: var(--color);
    z-index: 7;
    transition: 0.3s ease;
  }
  nav .DEACTIVATE{background-color: transparent;}
  .MENU::before, .MENU::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    transition: 0.3s ease;
  }
  .MENU::before{top: -10px;}
  .MENU::after{top: 10px;}
  .DEACTIVATE::before{rotate: 45deg;top: 0;}
  .DEACTIVATE::after{rotate: -45deg;top: 0;}
  nav .nav{
    position: absolute;
    height: 100vh;
    width: 70%;
    background-color: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translateX(0%);
    transition: all 0.5s ease;
    box-shadow: 0 2px 12px 100rem rgb(0 0 0 / 69%);
    z-index: 6;
    gap: 3rem;
  }
  nav .deactivate{
    transform: translateX(200%);
    box-shadow: none;
  }
} 
#contact section .loader {
  width: 1rem;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--background); 
  margin: -0.3rem auto;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
#contact .alerting{
    height: 50px;
    width: 40%;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 0.6rem; 
    position: fixed;
    transition: 0.3s ease-in;
    top: -100%;
    z-index: 99;
}
#contact .alerting.success{ background: #20ff67a3; border: 2px solid #25b325;top: 15%;}
#contact .alerting.Error{background: #ff20209e;border: 2px solid #b91b1bcc;top: 15%;}
#contact .alerting.Error::before{content: "🗙";color:#ff20209e;padding-right: 1rem;font-weight: 700;font-size: 1.5rem;}
#contact .alerting p{color:var(--color) ;}  
@media (max-width:800px) {
  #contact section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }
  #contact section form, #contact section div{
    width: 100%; 
    padding: 3rem 0 1rem;
  }
  .Modes #contact section form{border: none;}
  #contact section div:first-child{border-radius: 0.6rem 0.6rem 0 0;}
  #contact #Contact_content{margin-left: 1.3rem;} 
  .Modes #contact section{border: 1px solid var(--color);border-radius: 0.6rem;}
  #contact section form input, #contact section form textarea{width: 90%;}
}
 @media (min-width:450px) {
  #home{ background: var(--gradient);}
 }
 @media (max-width:450px) {
   #home{background: var(--background);}  
   body canvas{background: transparent !important;}
   .Modes canvas{background:var(--gradient) ;}
   #profile_image{margin-top: 0px;}
   #profile_image img{width: 250px;height: 250px;}
   #profile_image::after{height: 300px;width: 300px;top: 7.5rem;}
   #profile_detail .details h1,#profile_detail .details h3{color: var(--secondary-color) !important}
 }